include ../../template/markup/_vars

mixin slide($)
	=$

mixin sli(inner, classes, tag='sli', name = 'sli', classItem='item')
	-
		var parent  = inner ? inner : name
		var classes = classes ? classes.replace(/[^\w\d,]/,'').split(',') : undefined
		var mode    = attributes.mode ? attributes.mode.replace(/[^\w\d,]/,'').split(',') : undefined
	#{tag}(class=classes class=inner ? inner : undefined class=name class=mode)
		if (attributes.list)
			each item in attributes.list
				div(class=inner ? parent + _.elem + classItem : undefined)
					+slide(item)